<% provide(:title, 'About Us') %>
<h1>Getting Started with Rails</h1>
<p>
  Ruby on Rails has come a long way - it’s amazing how popular it has become in recent years. Nowadays RoR appears to be one of the most intelligible frameworks for building functional and effective apps. No wonder its fame is still expanding and the web development world hungers for skilled RoR developers.
  <a href="https://prograils.com/posts/top-10-famous-sites-built-with-ruby-on-rails">Rails guide</a>.
</p>