<footer class="footer">
  <small>
    <a href="https://about.twitter.com/en_us.html">See what people are talking about.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="https://prograils.com/posts/top-10-famous-sites-built-with-ruby-on-rails">Ruby on Rails News</a></li>
    </ul>
  </nav>
</footer>